.columnas {
    display: inline-flex;
    background-color: blue;
    color: rgb(255, 255, 255);
    margin: 5px;
    overflow: hidden;
    align-items: center;
}

.card img {
    width: 200px;
}

.titulo {
    font-size: 20px;
    color: #000;
}

.subtitulo {
    font-size: 16px;
    color: #000;
}
