* {
  background-color: #3E255E;
  margin: 10px;
}

.App {
  color: #fff;
}

.title {
  font-size: 50px;
  text-align: center;
}

.container {
  /*grid-column: 0;
  grid-row: 0;*/
  border-color: #fff;
    display: flex;
    justify-content: space-around;
}
